includeConfig "${projectDir}/../../nextflow_workflows.config"

profiles {
    slurm {
        params {
            db_config_file                = ""
            updated_refined_families_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/updated_refined_families.tsv"
        }
    }
    local {
        params {
            db_config_file                = "${scriptDir}/db_config.ini"
            updated_refined_families_path = "${projectDir}/../../output/families/updated_refined_families.tsv"
        }
    }
}
