process {
    errorStrategy = 'finish'

    withLabel: venv       { container = "quay.io/microbiome-informatics/mgnifams:2.0.0"; memory = '6.0 GB'; time = '10m' }    
    withLabel: general    { memory    = '100.0 MB'; time = '1m' }
    withName: MOVE_TO_DIR { memory    = '20.0 MB'; time = '10m' }
}
profiles {
    slurm {
        executor {
            name              = "slurm"
            queueSize         = 30
            queueGlobalStatus = true
        }
        workDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/work_mgnifams/"
        singularity {
            enabled     = true
            pullTimeout = "3 hours"
            autoMounts  = true
            cacheDir    = "/hps/scratch/singularity/$USER"
        }
        conda {
            enabled    = true
            autoMounts = true
            cacheDir   = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
        process {
            queue  = 'standard'
            time   = '4h'
            cache  = "lenient"
            cpus   = 1
            memory = 6.GB

            withLabel: gpu {
                clusterOptions = { "--gres=gpu:1" }
            }
        }
        params {
            moduleDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/mgnifams/modules"
            outDir    = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output"
        }
    }
    local {
        singularity {
            enabled    = true
            autoMounts = true
            cacheDir   = "/home/vangelis/Desktop/Tools/singularity"
        }
        conda {
            enabled    = true
            autoMounts = true
            cacheDir   = "/home/vangelis/miniconda3/envs"
        }
        params {
            moduleDir = "/home/vangelis/Desktop/Projects/mgnifams/modules"
            outDir    = "${launchDir}/output"
        }
    }
}
