process {
    withLabel: venv    { container = "vagkaratzas/mgnifams:latest"; memory = '5.0 GB'; time = '10m' }    
    withLabel: general { memory = '100.0 MB'; time = '1m' }
}
params {
    scriptDir = "${launchDir}/bin"
}
profiles {
    slurm {
        executor {
            name = "slurm"
            queueSize = 200
            queueGlobalStatus = true
        }
        workDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/work/"
        singularity {
            enabled = true
            pullTimeout = "3 hours"
            autoMounts = true
            cacheDir = "/hps/scratch/singularity/$USER"
        }
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
        process {
            queue = 'standard'
            time = '4h'
            cache = "lenient"
            cpus = 1
            memory = 6.GB

            withLabel: gpu {
                clusterOptions = { "--gres=gpu:1" }
            }
        }
        params {
            dataDir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/input"
            outdir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output"
        }
    }
    lsf {
        executor {
            name = "lsf"
            queueSize = 200
            submitRateLimit = "10/1sec"
            exitReadTimeout = "30 min"
            jobName = {
                task.name // [] and " " not allowed in lsf job names
                    .replace("[", "(")
                    .replace("]", ")")
                    .replace(" ", "_")
            }
        }
        workDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/work/"
        singularity {
            enabled = true
            pullTimeout = "3 hours"
            autoMounts = true
            cacheDir = "/hps/scratch/singularity/$USER"
        }
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
        process {
            cache = "lenient"
            queue = {
                task.memory >= 200.GB ? 'bigmem' : 'standard'
            }

            withLabel: gpu {
                queue = 'gpu'
                clusterOptions = { "-gpu 'num=1:gmem=1000'" }
            }
        }
        params {
            dataDir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/input"
            outdir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output"
        }
    }
    local {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "/home/vangelis/Desktop/Tools/singularity"
        }
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/home/vangelis/miniconda3/envs"
        }
        params {
            dataDir = "${launchDir}/data/input"
            outdir = "${launchDir}/data/output"
        }
    }
}
