includeConfig 'subworkflows/initiate_proteins/nextflow.config'
includeConfig 'subworkflows/execute_clustering/nextflow.config'
includeConfig 'subworkflows/create_families/nextflow.config'
includeConfig 'subworkflows/fasta_domainannotation/nextflow.config'
includeConfig 'subworkflows/annotate_structures/nextflow.config'
