includeConfig 'subworkflows/preprocess_input/nextflow.config'
includeConfig 'subworkflows/initiate_proteins/nextflow.config'
includeConfig 'subworkflows/execute_clustering/nextflow.config'
includeConfig 'subworkflows/generate_families/nextflow.config'
includeConfig 'subworkflows/annotate_models/nextflow.config'
includeConfig 'subworkflows/predict_structures/nextflow.config'
includeConfig 'subworkflows/annotate_structures/nextflow.config'

profiles {
    slurm {
        params {
            mgy90_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_2/sequence_explorer_protein.csv.bz2"
            hhdb_folder_path = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/hh/pfamA_35.0"
        }
    }
    lsf {
        params {
            mgy90_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_2/sequence_explorer_protein.csv.bz2"
            hhdb_folder_path = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/hh/pfamA_35.0"
        }
    }
    local {
        params {
            mgy90_path = "${launchDir}/test-data/sequence_explorer_protein_test_large.csv.bz2"
            empty_file = "${launchDir}/test-data/empty.txt"
            hhdb_folder_path = "/home/vangelis/Desktop/Tools/hh/databases/pfamA_35.0"
        }
    }
}
