includeConfig "${projectDir}/../../conf/workflows.config"

profiles {
    slurm {
        process {
            withName: EXPORT_MGNIFAMS_CSV { memory = '200.0 MB'; time = '1h' }
        }
        params {
            mgnifams_output_dir           = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/"
            db_config_file                = "${scriptDir}/db_config.ini"
            updated_refined_families_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/updated_refined_families.tsv"
        }
    }
    local {
        params {
            mgnifams_output_dir           = "${projectDir}/../../output/"
            db_config_file                = "${scriptDir}/db_config.ini"
            updated_refined_families_path = "${projectDir}/../../output/families/updated_refined_families.tsv"
        }
    }
}
