params {
    interproscan_dir = "/home/vangelis/Desktop/Tools/my_interproscan/interproscan-5.63-95.0/"
    eggnog_dir = "/home/vangelis/Desktop/Tools/eggnog-mapper/"
    // eggnog_diamond_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/eggnog_proteins.dmnd" // TODO 
    uniprot_sprot_fasta_name = "uniprot_sprot.fasta"
}