profiles {
    slurm {
        process {
            withName: ESMFOLD           { cpus = 8; memory = '40.0 GB'; time = '2h' }
            withName: FOLDCOMP_COMPRESS { cpus = 1; memory = '50.0 MB'; time = '10m' }
        }
        params {
            pdb_chunk_size = 50 // 50000
            compute_mode = "gpu"
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
    }
    lsf {
        process {
            withName: ESMFOLD           { queue = gpu; cpus = 8; memory = '40.0 GB' }
            withName: FOLDCOMP_COMPRESS { cpus = 1; memory = '50.0 MB' }
        }
        params {
            pdb_chunk_size = 50
            compute_mode = "gpu"
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
    }
    local {
        process {
            withName: ESMFOLD { cpus = 8; memory = '16.0 GB' }
        }
        params {
            pdb_chunk_size = 2
            compute_mode = "cpu"
            esm_conda_path = '/home/vangelis/miniconda3/envs/esmfold_new_test'
        }
    }
}
