profiles {
    slurm {
        process {
            withName: EXTRACT_FIRST_STOCKHOLM_SEQUENCES_FROM_FOLDER { memory = '16.0 GB'; time = '12h' }
            withName: ESMFOLD                                       { cpus = 8; memory = '30.0 GB'; time = '4h' }
            withName: ESMFOLD_CPU                                   { cpus = 8; memory = '300.0 GB'; time = '120h' }
        }
        params {
            pdb_chunk_size      = 500
            pdb_chunk_size_long = 10
            compute_mode        = "gpu"
            esm_conda_path      = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
    }
    local {
        process {
            withName: ESMFOLD { cpus = 8 }
        }
        params {
            pdb_chunk_size      = 5
            pdb_chunk_size_long = 5
            compute_mode        = "cpu"
            esm_conda_path      = '/home/vangelis/miniconda3/envs/esmfold_new_test'
        }
    }
}
