profiles {
    slurm {
        process {
            withName: ESMFOLD           { cpus = 4; memory = '16.0 GB' }
            withName: FOLDCOMP_COMPRESS { cpus = 4; memory = '40.0 GB' }
        }
        params {
            pdb_chunk_size = 50 // 50000
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
    }
    lsf {
        process {
            withName: ESMFOLD           { cpus = 4; memory = '16.0 GB' }
            withName: FOLDCOMP_COMPRESS { cpus = 4; memory = '40.0 GB' }
        }
        params {
            pdb_chunk_size = 50
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
    }
    local {
        process {
            withName: ESMFOLD { cpus = 8; memory = '16.0 GB' }
        }
        params {
            pdb_chunk_size = 2
            esm_conda_path = '/home/vangelis/miniconda3/envs/esmfold_new_test'
        }
    }
}
