includeConfig "${launchDir}/subworkflows/export_tables/nextflow.config"

profiles {
    slurm {
        params {
            mgnifams_output_dir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/"
        }
    }
    local {
        params {
            mgnifams_output_dir = "${launchDir}/data/output/"
        }
    }
}
