includeConfig "${projectDir}/../../conf/workflows.config"

profiles {
    slurm {
        process {
            withName: EXPORT_MGNIFAMS_CSV { memory = '200.0 MB'; time = '1h' }
        }
        params {
            mgnifams_output_dir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/"
        }
    }
    local {
        params {
            mgnifams_output_dir = "${projectDir}/../../output/"
        }
    }
}
