includeConfig "${launchDir}/subworkflows/initiate_proteins/nextflow.config"

profiles {
    slurm {
        params {
            mgnifams_input_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_input.fa"
            mgnifams_output_dir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/"
        }
    }
    local {
        params {
            mgnifams_input_path = "${launchDir}/data/output/input/mgnifams_input.fa"
            mgnifams_output_dir = "${launchDir}/data/output/"
        }
    }
}
