includeConfig "${projectDir}/../../subworkflows/preprocess_input/nextflow.config"

profiles {
    slurm {
        params {
            sequence_explorer_protein_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_4/sequence_explorer_protein.csv"
        }
    }
    local {
        params {
            sequence_explorer_protein_path = "${projectDir}/../../test-data/sequence_explorer_protein_test_100001.csv"
        }
    }
}