profiles {
    slurm {
        process {
            withName: CREATE_CLUSTERS_PKL { cpus = 8; memory = '180.0 GB'; time = '2h' }
            withName: REFINE_FAMILIES     { cpus = 8; memory = '800.0 GB'; time = '168h' }
        }
        params {
            starting_num_sequences = 234894225 // TODO count
            minimum_members = 50
            iteration = 0 // TODO default 0 elsewhere?
        }
    }
    local {
        params {
            starting_num_sequences = 26949
            minimum_members = 5
            iteration = 0
        }
    }
}
