profiles {
    slurm {
        process {
            withName: CREATE_CLUSTERS_PKL { cpus = 8; memory = '180.0 GB'; time = '2h' }
            withName: REFINE_FAMILIES     { cpus = 8; memory = '800.0 GB'; time = '168h' }
        }
        params {
            minimum_members = 50
            iteration = 0
        }
    }
    local {
        params {
            minimum_members = 5
            iteration = 0
        }
    }
}
