profiles {
    slurm {
        process {
            withName: DIAMOND_MAKEDB { cpus = 4; memory = '15.0 GB'; time = '8h' }
            withName: DIAMOND_BLASTP { memory = '100.0 GB'; time = '8h' }
            withName: MATCH_CLUSTERS { memory = '100.0 GB'; time = '4h' }
        }
    }
    lsf {
        process {
            withName: DIAMOND_MAKEDB { cpus = 4; memory = '15.0 GB'; time = '8h' }
            withName: DIAMOND_BLASTP { memory = '100.0 GB'; time = '8h' }
            withName: MATCH_CLUSTERS { memory = '100.0 GB'; time = '4h' }
        }
    }
}
