profiles {
    slurm {
        process {
            withName: DIAMOND_MAKEDB { memory = '140.0 GB'; time = '2h' }
            withName: DIAMOND_BLASTP { memory = '300.0 GB'; time = '4h' }
        }
    }
    lsf {
        process {
            withName: DIAMOND_MAKEDB { memory = '140.0 GB'; time = '2h' }
            withName: DIAMOND_BLASTP { memory = '300.0 GB'; time = '4h' }
        }
    }
}
