profiles {
    slurm {
        process { // optimal
            withName: DIAMOND_MAKEDB { cpus = 2; memory = '100.0 GB'; time = '8h' } // { cpus = 2; memory = '50.0 GB'; time = '3h' }
            withName: DIAMOND_BLASTP { memory = '100.0 GB'; time = '8h' } // { cpus = 2; memory = '15.0 GB'; time = '2h' }
            withName: MATCH_CLUSTERS { memory = '300.0 GB'; time = '4h' } // { memory = '150.0 GB'; time = '2h' }
        }
    }
    lsf {
        process {
            withName: DIAMOND_MAKEDB { cpus = 2; memory = '100.0 GB'; time = '8h' } // { cpus = 2; memory = '50.0 GB'; time = '3h' }
            withName: DIAMOND_BLASTP { memory = '100.0 GB'; time = '8h' } // { cpus = 2; memory = '15.0 GB'; time = '2h' }
            withName: MATCH_CLUSTERS { memory = '300.0 GB'; time = '4h' } // { memory = '150.0 GB'; time = '2h' }
        }
    }
}
