profiles {
    slurm {
        process {
            withName: MAFFT          { cpus = 8; memory = '100.0 MB'; time = '10m' }
            withName: HMMER_HMMBUILD { cpus = 4; memory = '100.0 MB'; time = '10m' }
        }
        params {
            families_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/families/*"
            unannotated_ids_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/unannotated_ids.txt"
        }
    }
    local {
        params {
            families_path = "/home/vangelis/Desktop/Projects/mgnifams/data/output/families/families/*"
            unannotated_ids_path = "/home/vangelis/Desktop/Projects/mgnifams/data/output/unannotated_ids.txt"
        }
    }
}
