profiles {
    slurm {
        params {
            families_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/families/*"
            unannotated_ids_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/unannotated_ids.txt"
        }
    }
    local {
        params {
            families_path = "/home/vangelis/Desktop/Projects/mgnifams/data/output/families/families/*"
            unannotated_ids_path = "/home/vangelis/Desktop/Projects/mgnifams/data/output/unannotated_ids.txt"
        }
    }
}
