includeConfig "${projectDir}/../../subworkflows/execute_clustering/nextflow.config"

profiles {
    slurm {
        params {
            mgnifams_input_fasta_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/mgnifams_input.fa"
        }
    }
    local {
        params {
            mgnifams_input_fasta_path = "${projectDir}/../../output/mgnifams_input.fa"
        }
    }
}
