cleanup = true

profiles {
    slurm {
        process {
            withName: UNZIP_BZ2     { memory = '50.0 MB'; time = '5h' }
            withName: REMOVE_HEADER { memory = '50.0 MB'; time = '1h' }
        }
        params {
            mgy90_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_2/sequence_explorer_protein.csv.bz2"
        }
    }
    local {
        params {
            mgy90_path = "${launchDir}/test-data/sequence_explorer_protein_test.csv.bz2"
        }
    }
}
