params {
    compress_mode = 'none' // 1. gz, 2. bz2 or 3. anything else (ignores decompress)
}
profiles {
    slurm {
        process {
            withName: DECOMPRESS_GZ  { cpus = 8; memory = '50.0 MB'; time = '5h' }
            withName: DECOMPRESS_BZ2 { memory = '50.0 MB'; time = '5h' }
            withName: REMOVE_HEADER  { memory = '50.0 MB'; time = '1h' }
        }
    }
}
