includeConfig "${launchDir}/subworkflows/annotate_models/nextflow.config"

profiles {
    slurm {
        params {
            msa_folder_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/seed_msa"
        }
    }
    local {
        params {
            msa_folder_path = "${launchDir}/data/output/families/seed_msa"
        }
    }
}
