includeConfig "${launchDir}/subworkflows/annotate_models/nextflow.config"

profiles {
    slurm {
        params {
            msa_folder_path = "" // TODO "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
            hhdb_folder_path = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/hh/pfamA_35.0"
        }
    }
    lsf {
        params {
            msa_folder_path = "" // TODO "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
            hhdb_folder_path = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/hh/pfamA_35.0"
        }
    }
    local {
        params {
            msa_folder_path = "${launchDir}/data/output/families/seed_msa/*"
            hhdb_folder_path = "/home/vangelis/Desktop/Tools/hh/databases/pfamA_35.0"
        }
    }
}
