includeConfig "${projectDir}/../../conf/workflows.config"
includeConfig "${projectDir}/../../subworkflows/annotate_models/nextflow.config"

profiles {
    slurm {
        params {
            seed_msa_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/seed_msa"
        }
    }
    local {
        params {
            seed_msa_path = "${projectDir}/../../output/families/seed_msa"
        }
    }
}
