includeConfig "${projectDir}/../../conf/workflows.config"
includeConfig "${projectDir}/../../subworkflows/reformat_msa/nextflow.config"
includeConfig "${projectDir}/../../subworkflows/annotate_models/nextflow.config"
includeConfig "${projectDir}/../../subworkflows/predict_structures/nextflow.config"
includeConfig "${projectDir}/../../subworkflows/annotate_structures/nextflow.config"

profiles {
    slurm {
        params {
            seed_msa_folder_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/seed_msa_sto"
            msa_folder_path      = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/msa_sto"
        }
    }
    local {
        params {
            seed_msa_folder_path = "${projectDir}/../../output/families/seed_msa_sto"
            msa_folder_path      = "${projectDir}/../../output/families/msa_sto"
        }
    }
}
