includeConfig 'subworkflows/slice_unannotated/nextflow.config'
includeConfig 'subworkflows/annotate_slices/nextflow.config'

process {
    withLabel: venv {
        container = "vagkaratzas/mgnifams:latest"
    }
    withLabel: ips {
        container = "quay.io/microbiome-informatics/palidis_v3.1.2:latest"
        cpus = 8
        memory = '12.0 GB'
        // container = "quay.io/biocontainers/interproscan:5.59-91.0" // TODO remove, produces error due to missing the program pfsearchV3
    }
    withLabel: eggnog {
        container = "quay.io/microbiome-informatics/genomes-pipeline.eggnog-mapper:v2.1.11"
        cpus = 8
        memory = '12.0 GB'
    }
    withLabel: blast {
        container = "quay.io/biocontainers/blast:2.14.0--pl5321h6f7f691_2"
        cpus = 8
        memory = '12.0 GB'
    }
}

profiles {

    lsf {
        executor {
            name = "lsf"
            queueSize = 200
            submitRateLimit = "4 sec"
        }
        workDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/work/"
        // workDir = "/nfs/production/rdf/metagenomics/users/vangelis/work/"
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/scratch/singularity/$USER"
        }
        params {
            dataDir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/input/slicing/"
            outdir = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/slicing/"
            scriptDir = "${baseDir}/bin/"
        }
        withLabel: eggnog {
            // cpus = 16
            memory = '50.0 GB'
        }
    }

    local {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "/home/vangelis/Desktop/Tools/singularity"
        }
        params {
            dataDir = "${baseDir}/data/input/slicing/"
            outdir = "${baseDir}/data/output/slicing/"
            scriptDir = "${baseDir}/bin/"
        }
    }
}