includeConfig "${projectDir}/../../conf/workflows.config"
includeConfig "${projectDir}/../../subworkflows/remove_redundancy/nextflow.config"

profiles {
    slurm {
        params {
            families_output = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families"
        }
    }
    local {
        params {
            families_output = "${projectDir}/../../output/families"
        }
    }
}
