/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ebi-metagenomics/mgnifams Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = 1
    memory = '6.GB'
    time   = '4h'

    errorStrategy = 'finish' 

    withLabel: venv    { memory = '6.0 GB'; time = '10m' }    
    withLabel: general { memory = '100.0 MB'; time = '1m' }

    // SETUP_CLUSTERS
    // preprocess_input
    withName: DECOMPRESS_GZ             { cpus = 8; memory = '50.0 MB'; time = '5h' }
    withName: DECOMPRESS_BZ2            { memory = '50.0 MB'; time = '5h' }
    withName: REMOVE_HEADER             { memory = '50.0 MB'; time = '1h' }
    // initiate_proteins
    withName: FILTER_UNANNOTATED_SLICES { memory = '60.0 MB'; time = '1h' }
    // execute_clustering
    withName: MMSEQS_CREATEDB           { memory = '40.0 GB'; time = '1h' }
    withName: MMSEQS_LINCLUST           { cpus = 8; memory = '260.0 GB'; time = '3h' }
    withName: EXPORT_CLUSTERS_TSV       { cpus = 2; memory = '65.0 GB'; time = '20m' }

    // GENERATE_NONREDUNDANT_FAMILIES
    // generate_families_parallel
    withName: CHUNK_CLUSTERS                       { memory = '100.0 GB'; time = '1h' } // ~32.0MB * num_cluster_chunks
    withName: REFINE_FAMILIES_PARALLEL             { cpus = 4; memory = '350.0 GB'; time = '50h' }
    // flag_transmembrane
    withName: EXTRACT_FIRST_STOCKHOLM_SEQUENCES    { memory = '20.0 GB'; time = '24h' }
    withName: DEEPTMHMM                            { memory = '100.0 MB'; time = '24h' }
    withName: FLAG_TM                              { memory = '40.0 MB'; time = '20m' }
    // remove_redundancy
    withName: MOVE_TO_DIR                          { memory = '20.0 MB'; time = '10m' }
    withName: HHSUITE_BUILDHHDB                    { cpus = 8; memory = '6.0 GB'; time = '2h' }
    withName: HHSUITE_HHBLITS                      { cpus = 8; memory = '5.0 GB'; time = '48h' }
    withName: COMBINE_HH_RESULTS                   { memory = '100.0 MB'; time = '1h' }
    withName: MAP_FIRST_A3M_SEQUENCES_TO_FAMILY_ID { memory = '200.0 MB'; time = '1h' }
    withName: POOL_FAM_PROTEINS                    { memory = '20.0 MB'; time = '10m' }
    withName: REMOVE_REDUNDANT_AND_TM              { memory = '200.0 GB'; time = '72h' }
    withName: POOL_FAMILY_RESULTS                  { memory = '200.0 MB'; time = '24h' }

    // ANNOTATE_FAMILIES
    // reformat_msa
    withName: TRANSLATE_MSA_MGYPS                           { memory = '1.0 GB'; time = '30h' }
    // annotate_models
    withName: HHSUITE_REFORMAT                              { memory = '10.0 GB'; time = '32h' }
    withName: HHSUITE_HHSEARCH                              { cpus = 8; memory = '50.0 MB'; time = '1h' }
    withName: FILTER_HH_RESULTS                             { memory = '50.0 MB'; time = '1h' }
    // predict_structures
    withName: EXTRACT_FIRST_STOCKHOLM_SEQUENCES_FROM_FOLDER { memory = '16.0 GB'; time = '12h' }
    withName: ESMFOLD                                       { memory = '30.0 GB'; time = '4h' }
    withName: ESMFOLD_CPU                                   { cpus = 16; memory = '400.0 GB'; time = '72h' }
    // annotate_structures
    withName: FOLDSEEK_EASYSEARCH                           { cpus = 4; memory = '900.0 GB'; time = '24h' }
    withName: FIND_ANNOTATED_FAMILIES_BY_STRUCTURE          { memory = '100.0 GB'; time = '24h' }

    // EXPORT_DB
    withName: EXPORT_MGNIFAMS_CSV   { memory = '200.0 MB'; time = '10h' }
    withName: QUERY_MGNPROTEIN_DB   { memory = '10.0 GB'; time = '72h' }
    withName: PARSE_BIOMES          { memory = '1.0 GB'; time = '6h' }
    withName: PARSE_DOMAINS         { memory = '50.0 GB'; time = '72h' }
    withName: APPEND_BLOBS_PARALLEL { cpus = 32; memory = '300.0 GB'; time = '120h' }
    
}
