/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ebi-metagenomics/mgnifams Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = 1
    memory = '6.GB'
    time   = '4h'

    withLabel: venv    { memory = '6.0 GB'; time = '10m' }    
    withLabel: general { memory = '100.0 MB'; time = '1m' }

    // SETUP_CLUSTERS
    // preprocess_input
    withName: DECOMPRESS_GZ             { cpus = 8; memory = '50.0 MB'; time = '5h' }
    withName: DECOMPRESS_BZ2            { memory = '50.0 MB'; time = '5h' }
    withName: REMOVE_HEADER             { memory = '50.0 MB'; time = '1h' }
    // initiate_proteins
    withName: FILTER_UNANNOTATED_SLICES { memory = '60.0 MB'; time = '1h' }
    // execute_clustering
    withName: MMSEQS_CREATEDB           { memory = '40.0 GB'; time = '1h' }
    withName: MMSEQS_LINCLUST           { cpus = 8; memory = '260.0 GB'; time = '3h' }
    withName: EXPORT_CLUSTERS_TSV       { cpus = 2; memory = '65.0 GB'; time = '20m' }

    // GENERATE_NONREDUNDANT_FAMILIES
    // generate_families_parallel
    withName: CHUNK_CLUSTERS                       { memory = '100.0 GB'; time = '1h' } // ~32.0MB * num_cluster_chunks
    withName: REFINE_FAMILIES_PARALLEL             { cpus = 4; memory = '350.0 GB'; time = '72h' }
    // flag_transmembrane
    withName: DEEPTMHMM                            { memory = '300.0 GB'; time = '24h' }
    // remove_redundancy
    withName: HHSUITE_BUILDHHDB                    { cpus = 8; memory = '6.0 GB'; time = '2h' }
    withName: HHSUITE_HHBLITS                      { cpus = 4; memory = '8.0 GB'; time = '2h'}
    withName: COMBINE_HH_RESULTS                   { memory = '100.0 MB'; time = '1h' }
    withName: MAP_FIRST_A3M_SEQUENCES_TO_FAMILY_ID { memory = '200.0 MB'; time = '1h' }
    withName: REMOVE_REDUNDANT_AND_TM              { memory = '200.0 MB'; time = '1h' }
    withName: POOL_FAMILY_RESULTS                  { memory = '200.0 MB'; time = '2h' }

    // ANNOTATE_FAMILIES
    // reformat_msa
    withName: TRANSLATE_MSA_MGYPS { memory = '1.0 GB'; time = '1h' }
    // annotate_models
    withName: HHSUITE_REFORMAT { memory = '4.0 GB'; time = '1h' }
    withName: HHSUITE_HHSEARCH { cpus = 8; memory = '50.0 MB'; time = '1h' }
    // predict_structures
    withName: ESMFOLD          { cpus = 8; memory = '160.0 GB'; time = '2h' }
    withName: ESMFOLD_CPU      { cpus = 8; memory = '300.0 GB'; time = '6h' }
    // annotate_structures
    withName: FOLDSEEK_EASYSEARCH { cpus = 4; memory = '900.0 GB'; time = '4h' }

    // EXPORT_DB
    withName: APPEND_BLOBS_PARALLEL { cpus = 32; memory = '300.0 GB'; time = '120h' }
    
}
