/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ebi-metagenomics/mgnifams Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and reuse the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
    }

    // SETUP_CLUSTERS
    // extract_unannotated_fasta
    withName: PIGZ_UNCOMPRESS                { cpus = 8; memory = '50.0 MB'; time = '5h' }
    withName: BZ2_UNCOMPRESS                 { memory = '50.0 MB'; time = '5h' }
    withName: EXTRACT_UNANNOTATED_SLICES     { memory = '60.0 MB'; time = '1h' }
    // check_quality
    withName: SEQKIT_STATS                   { memory = '2.0 GB' ; time = '30m' }
    withName: SEQKIT_STATS_TO_MQC            { memory = '10.0 MB'; time = '5m'  }
    // execute_clustering
    withName: MMSEQS_CREATEDB                { memory = '36.0 GB'; time = '1h' }
    withName: MMSEQS_LINCLUST                { cpus = 8; memory = '180.0 GB'; time = '3h'  }
    withName: MMSEQS_CREATETSV               { cpus = 2; memory = '65.0 GB' ; time = '20m' }
    // post clustering
    withName: CALCULATE_CLUSTER_DISTRIBUTION { memory = '24.0 GB'; time = '15m' }
    withName: EXTRACT_UNIQUE_CLUSTER_REPS    { memory = '32.0 GB'; time = '30m' }
    withName: CHUNK_CLUSTERS                 { memory = '40.0 MB'; time = '10m' }

    // GENERATE_NONREDUNDANT_FAMILIES
    // generate_families
    withName: GENERATE_FAMILIES          { cpus = 4; memory = '300.0 GB'; time = '35h' }
    // remove_redundancy
    // withName: FIND_CONCATENATE               { memory = '200.0 MB'; time = '24h' } // TODO update based on full run
    // withName: HMMER_HMMSEARCH                { memory = '200.0 MB'; time = '24h' } // TODO update based on full run
    // withName: POOL_PREREDUNDANT_FAMILIES_TSV { memory = '200.0 MB'; time = '24h' } // TODO update based on full run
    // withName: IDENTIFY_REDUNDANT_FAMS        { memory = '200.0 MB'; time = '24h' } // TODO update based on full run
    // withName: POOL_NONREDUNDANT_FAMILIES     { memory = '200.0 MB'; time = '24h' } // TODO update based on full run
    // post redundancy-removal
    withName: REFORMAT_SEED_MSA          { memory = '200.0 MB'; time = '5m'  }
    withName: REFORMAT_FULL_MSA          { memory = '6.0 GB'  ; time = '10m' }
    withName: PRESENT_DISCARDED_FAMILIES { memory = '2.0 GB'  ; time = '10m' } // TODO update based on full run
    withName: PRESENT_FAMILY_METADATA    { memory = '2.0 GB'  ; time = '10m' } // TODO update based on full run

    // PREDICT_STRUCTURES
    withName: RUN_ESMFOLD            { memory = '60.0 GB'; time = '4h' }
    withName: EXTRACT_CUDA_FAILED    { memory = '1.0 GB' ; time = '5m' }
    withName: RUN_ESMFOLD_CPU        { cpus = 16; memory = '400.0 GB'; time = '72h' }
    withName: EXTRACT_ESMFOLD_SCORES { memory = '1.0 GB'; time = '5m' }
    withName: PARSE_CIF              { memory = '1.0 GB'; time = '5m' }

    // ANNOTATE_FAMILIES
    // annotate_reps
    withName: S4PRED_RUNMODEL                { memory = '12.0 GB'; time = '36h' } // TODO update based on full run
    withName: PARSE_S4PRED_TO_FEATURE_VIEWER { memory = '1.0 GB' ; time = '5m'  }
    // annotate_models
    withName: HHSUITE_REFORMAT               { memory = '2.0 GB' ; time = '5m'  }
    withName: HHSUITE_HHBLITS                { memory = '12.0 GB'; time = '10m' }
    withName: HHSUITE_HHSEARCH               { memory = '12.0 GB'; time = '15m' }
    // annotate_structures
    withName: FOLDSEEK_EASYSEARCH_PDB        { cpus = 4; memory = '300.0 GB'; time = '12h' }
    withName: FOLDSEEK_EASYSEARCH_ALPHAFOLDB { cpus = 4; memory = '900.0 GB'; time = '24h' }

    // EXPORT_DATA 
    withName: EXPORT_MGNIFAMS { memory = '6.0 GB'  ; time = '1h' } // TODO update based on full run
    withName: EXPORT_FUNFAMS  { memory = '200.0 MB'; time = '1h' } // TODO update based on full run
    withName: EXPORT_PFAMS    { memory = '40.0 MB' ; time = '5m' }
    withName: EXPORT_FOLDS    { memory = '200.0 MB'; time = '1h' } // TODO update based on full run

    // INIT_DB 
    withName: INIT_SQLITE    { memory = '10.0 MB'; time = '5m'  }
    withName: IMPORT_QUERIES { memory = '32.0 GB'; time = '10h' } // TODO update based on full run

    // UPDATE_DB
    withName: QUERY_MGNPROTEIN_DB { memory = '160.0 GB'; time = '168h' } // TODO update based on full run
    withName: PARSE_BIOMES        { memory = '6.0 GB'  ; time = '1h'   } // TODO update based on full run
    withName: PARSE_DOMAINS       { memory = '32.0 GB' ; time = '4h'   } // TODO update based on full run
    withName: UPDATE_SQLITE_BLOBS { memory = '64.0 GB' ; time = '24h'  } // TODO update based on full run

}
