process { withName: 'HMMER_ESLSFETCHINDEX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/22/22f18750c163d666d594cd90391d3e9a9ebc878118345f1b545770574d6d8d1a/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e48aa28aebc881254a499b24c3e1ce77b8df1b85a5432699ed6f72eb17ac7fb5/data' } }
