plugins {
    id 'nf-validation'
}

includeConfig '../subworkflows/preprocess_input/nextflow.config'
includeConfig '../subworkflows/initiate_proteins/nextflow.config'
includeConfig '../subworkflows/execute_clustering/nextflow.config'
includeConfig '../subworkflows/generate_all_families/nextflow.config'
includeConfig "../subworkflows/reformat_msa/nextflow.config"
includeConfig '../subworkflows/annotate_models/nextflow.config'
includeConfig '../subworkflows/predict_structures/nextflow.config'
includeConfig '../subworkflows/annotate_structures/nextflow.config'

params {
    help = false
    scriptDir = "${projectDir}/bin"
}
profiles {
    slurm {
        params {
            sequence_explorer_protein_path = ""
            hh_mode                        = "hhblits"
        }
    }
    local {
        params {
            sequence_explorer_protein_path = "${projectDir}/test-data/sequence_explorer_protein_test_100001.csv"
            hh_mode                        = "hhblits"
        }
    }
}
