/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PIGZ_UNCOMPRESS' {
        publishDir = [
            path: { "${params.outdir}/setup_clusters" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BZ2_UNCOMPRESS' {
        publishDir = [
            path: { "${params.outdir}/setup_clusters" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXTRACT_UNANNOTATED_SLICES' {
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/setup_clusters/unannotated_chunks" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MMSEQS_CREATEDB' {
        publishDir = [
            path: { "${params.outdir}/setup_clusters/mmseqs" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MMSEQS_LINCLUST' {
        ext.args = [
            "--min-seq-id ${params.linclust_seq_identity}",
            "-c ${params.linclust_coverage}",
            "--cov-mode ${params.linclust_cov_mode}",
            "--remove-tmp-files 1 -v 0"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/setup_clusters/mmseqs" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MMSEQS_CREATETSV' {
        publishDir = [
            path: { "${params.outdir}/setup_clusters/mmseqs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CALCULATE_CLUSTER_DISTRIBUTION'{
        publishDir = [
            path: { "${params.outdir}/setup_clusters" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXTRACT_UNIQUE_CLUSTER_REPS'{
        publishDir = [
            path: { "${params.outdir}/setup_clusters" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CHUNK_CLUSTERS' {
        ext.prefix = { "${meta.id}_${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/setup_clusters/chunks" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GENERATE_FAMILIES' {
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        maxForks = 30
        publishDir = [
            path: { "${params.outdir}/generate_families/pre_redundant/${meta.id}/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CAT_CAT' {
        publishDir = [
            path: { "${params.outdir}/remove_redundancy/hmmer/concatenated" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:REMOVE_REDUNDANCY:HMMER_HMMSEARCH' {
        ext.args   = { "-E ${params.hmmsearch_evalue_cutoff}" }
        publishDir = [
            path: { "${params.outdir}/remove_redundancy/hmmer/hmmsearch/" },
            mode: params.publish_dir_mode,
            pattern: "*.domtbl.gz",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'POOL_PREREDUNDANT_FAMILIES_TSV' {
        publishDir = [
            path: { "${params.outdir}/remove_redundancy/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'IDENTIFY_REDUNDANT_FAMS' {
        publishDir = [
            path: { "${params.outdir}/remove_redundancy/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'POOL_NONREDUNDANT_FAMILIES' { 
        publishDir = [
            path: { "${params.outdir}/generate_families/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REFORMAT_SEED_MSA' {
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/generate_families/families/seed_msa/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REFORMAT_FULL_MSA' {
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/generate_families/families/full_msa/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PRESENT_DISCARDED_FAMILIES' { 
        publishDir = [
            path: { "${params.outdir}/generate_families/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'PRESENT_FAMILY_METADATA' { 
        publishDir = [
            path: { "${params.outdir}/generate_families/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ARIA2' {
        publishDir = [
            path: { "${params.outdir}/structures/downloaded_dbs/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RUN_ESMFOLD' {
        ext.args = { params.use_gpu ? '' : '--cpu-only' }
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            [
                path: { "${params.outdir}/structures/esmfold/pdb/" },
                mode: params.publish_dir_mode,
                pattern: '*.pdb'
            ],
            [
                path: { "${params.outdir}/structures/esmfold/scores/" },
                mode: params.publish_dir_mode,
                pattern: '*.txt'
            ]
        ]
    }

    withName: 'EXTRACT_CUDA_FAILED' {
        publishDir = [
            path: { "${params.outdir}/structures/esmfold/cuda_failed/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RUN_ESMFOLD_CPU' {
        ext.args = "--cpu-only"
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            [
                path: { "${params.outdir}/structures/esmfold/pdb/" },
                mode: params.publish_dir_mode,
                pattern: '*.pdb'
            ],
            [
                path: { "${params.outdir}/structures/esmfold/scores/" },
                mode: params.publish_dir_mode,
                pattern: '*.txt'
            ]
        ]
    }

    withName: 'EXTRACT_ESMFOLD_SCORES' {
        ext.prefix = { "${meta.id}_${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/structures/esmfold/scores/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PARSE_CIF' {
        ext.prefix = { "${meta.id}_${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/structures/esmfold/cif/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'S4PRED_RUNMODEL' {
        ext.prefix = { "horiz" }
        ext.args   = { "--outfmt horiz" }
        publishDir = [
            path: { "${params.outdir}/annotation/reps/s4pred/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PARSE_S4PRED_TO_FEATURE_VIEWER' {
        ext.prefix = { "json" }
        publishDir = [
            path: { "${params.outdir}/annotation/reps/s4pred/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ANNOTATE_REPS:HMMER_HMMSEARCH' {
        ext.args   = { "-E ${params.hmmsearch_evalue_cutoff}" }
        publishDir = [
            path: { "${params.outdir}/annotation/reps/funfams/" },
            mode: params.publish_dir_mode,
            pattern: "*.domtbl.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HHSUITE_REFORMAT' {
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/annotation/models/reformat/" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HHSUITE_HHBLITS' { 
        ext.args = [
            "-z ${params.hh_min_reported}",
            "-Z ${params.hh_max_reported}",
            "-p ${params.hh_probability_threshold}",
            "-hide_cons -hide_pred"
        ].join(' ').trim()
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/annotation/models/hhblits/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HHSUITE_HHSEARCH' { 
        ext.args = [
            "-z ${params.hh_min_reported}",
            "-Z ${params.hh_max_reported}",
            "-p ${params.hh_probability_threshold}",
            "-hide_cons -hide_pred"
        ].join(' ').trim()
        ext.prefix = { "${meta.chunk}" }
        tag = { "${meta.id}_${meta.chunk}" }
        publishDir = [
            path: { "${params.outdir}/annotation/models/hhsearch/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FOLDSEEK_EASYSEARCH' {
        ext.args = "-e ${params.foldseek_evalue_cutoff}"
        publishDir = [
            path: { "${params.outdir}/annotation/structures/foldseek/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXPORT_MGNIFAMS_CSV' {
        publishDir = [
            path: { "${params.outdir}/table_data/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // TODO
    // withName: 'QUERY_MGNPROTEIN_DB' {
    //     publishDir = [
    //         path: { "${params.outdir}/post-processing" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    // withName: 'PARSE_BIOMES' {
    //     publishDir = [
    //         path: { "${params.outdir}/post-processing/" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    // withName: 'PARSE_DOMAINS' {
    //     publishDir = [
    //         path: { "${params.outdir}/post-processing/" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    withName: 'APPEND_SQLITE_BLOBS' {
        publishDir = [
            path: { "${params.outdir}/database/update/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'INITIALISE_SQLITE' {
        publishDir = [
            path: { "${params.outdir}/database/init/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
}
