// setup_clusters
includeConfig '../subworkflows/preprocess_input/nextflow.config'
includeConfig '../subworkflows/initiate_proteins/nextflow.config'
includeConfig '../subworkflows/execute_clustering/nextflow.config'
// generate_nonredundant_families
includeConfig '../subworkflows/generate_families_parallel/nextflow.config'
includeConfig '../subworkflows/flag_transmembrane/nextflow.config'
includeConfig '../subworkflows/remove_redundancy/nextflow.config'
// annotate_families
includeConfig '../subworkflows/reformat_msa/nextflow.config'
includeConfig '../subworkflows/annotate_models/nextflow.config'
includeConfig '../subworkflows/predict_structures/nextflow.config'
includeConfig '../subworkflows/annotate_structures/nextflow.config'
// export_data
includeConfig '../subworkflows/export_db/nextflow.config'
