/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Builds the delta DB from tests/data/update_results, a two-family update_mgnifams
    outdir; needs no external databases.

    Use as follows:
        nextflow run ebi-metagenomics/mgnifams -profile test_post_update_mgnifams_update_db,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    // Input options
    input = "${projectDir}/assets/samplesheet_post_update_mgnifams_update_db.csv"
    mode  = 'post_update_mgnifams_update_db'

    // Required by the schema, unused by this mode
    pfam_path        = 'unused'
    funfams_path     = 'unused'
    foldseek_db_path = 'unused'

    // Boilerplate options
    outdir = "${launchDir}/output_post_update_db"

}
