/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a local pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mgnifams -profile test_local

----------------------------------------------------------------------------------------
*/

params {

    // Input options
    sequence_explorer_protein_path = "${projectDir}/assets/test_data/sequence_explorer_protein_test_100001.csv"
    
    // SETUP_CLUSTERS
    // initiate_proteins
    input_csv_chunk_size = 50000

    // Boilerplate options
    outdir = "${launchDir}/output"

}

process {

    withName: MMSEQS_CREATEDB     { memory = '12.0 GB' }
    withName: MMSEQS_LINCLUST     { cpus = 8; memory = '10.0 GB' }
    withName: EXPORT_CLUSTERS_TSV { cpus = 2; memory = '2.0 GB' }

}

