/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a local pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mgnifams -profile test_update_db

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '30.GB',
        time: '2.h'
    ]
}

params {

    // Input options
    input = "${projectDir}/assets/samplesheet_update_db.csv"
    mode  = 'update_mgnifams_db'

    // Boilerplate options
    outdir = "${launchDir}/output_db"

}
