/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a local pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mgnifams -profile test_local

----------------------------------------------------------------------------------------
*/

singularity.cacheDir = "/home/vangelis/Desktop/Tools/singularity"
conda.cacheDir       = "/home/vangelis/miniconda3/envs"

params {

    // Input options
    input = "${projectDir}/assets/test_data/sequence_explorer_protein_test_100001.csv"
    
    // SETUP_CLUSTERS
    // initiate_proteins
    input_csv_chunk_size = 50000

    // GENERATE_NONREDUNDANT_FAMILIES
    // generate_families_parallel
    minimum_members    = 5
    num_cluster_chunks = 4

    // ANNOTATE_FAMILIES
    // annotate_models
    hhdb_folder_path = "/home/vangelis/Desktop/Tools/hh/databases/pfamA_35.0"
    // predict_structures
    pdb_chunk_size   = 5
    compute_mode     = "cpu"
    esm_conda_path   = '/home/vangelis/miniconda3/envs/esmfold_new_test'
    // annotate_structures
    foldseek_db_path = '/home/vangelis/Desktop/Tools/foldseek'

    // EXPORT_DB
    db_config_file = "/home/vangelis/Desktop/Projects/mgnifams/assets/db_config.ini"
    db_schema_file = "/home/vangelis/Desktop/Projects/mgnifams/assets/db_schema.sqlite"

    // Boilerplate options
    outdir = "${launchDir}/output"

}

process {

    // SETUP_CLUSTERS
    // execute_clustering
    withName: MMSEQS_CREATEDB     { memory = '12.0 GB' }
    withName: MMSEQS_LINCLUST     { cpus = 8; memory = '10.0 GB' }
    withName: EXPORT_CLUSTERS_TSV { cpus = 2; memory = '2.0 GB' }

    // GENERATE_NONREDUNDANT_FAMILIES
    // generate_families_parallel
    withName: CHUNK_CLUSTERS           { memory = '10.0 GB' }
    withName: REFINE_FAMILIES_PARALLEL { cpus = 1; memory = '6.0 GB' }
    // flag_transmembrane
    withName: DEEPTMHMM                { memory = '24.0 GB'; time = '1h' }    

    // ANNOTATE_FAMILIES
    // predict_structures
    withName: ESMFOLD             { memory = '30.0 GB' }
    // annotate_structures
    withName: FOLDSEEK_EASYSEARCH { memory = '5.0 GB' }

    // EXPORT_DB
    withName: APPEND_BLOBS_PARALLEL { cpus = 11; memory = '30.0 GB' }
}

