/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a local update_mgnifams test.
    External databases (pfam_path, funfams_path, esmfold_db, foldseek_db_path) come from
    your local config.

    Use as follows:
        nextflow run ebi-metagenomics/mgnifams -profile test_update_mgnifams,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '30.GB',
        time: '2.h'
    ]
}

params {

    // Input options
    input = "${projectDir}/assets/samplesheet_update_mgnifams.csv"
    mode  = 'update_mgnifams'

    // UPDATE_MGNIFAMS
    parquet_chunks = 2
    hmm_chunk_size = 3

    // PREDICT_STRUCTURES
    pdb_chunk_size      = 5
    pdb_chunk_size_long = 2

    // ANNOTATE_STRUCTURES: test reps are trimmed to 20 residues (TRIM_REPS), which only get
    // weak Foldseek hits; a loose cutoff still exercises mgnifam_folds and its TM-scores
    foldseek_evalue_cutoff = 30
    foldseek_alphafold_db  = 'alphafold'

    // Boilerplate options
    outdir = "${launchDir}/output_update"

}
