includeConfig "${projectDir}/../../conf/workflows.config"
includeConfig "${projectDir}/../../subworkflows/generate_families_parallel/nextflow.config"
includeConfig "${projectDir}/../../subworkflows/remove_redundancy/nextflow.config"

profiles {
    slurm {
        params {
            clusters_tsv              = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/mmseqs/linclust_clusters.tsv"
            checked_clusters_txt      = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/checked_clusters.txt"
            mgnifams_input_fasta_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/mgnifams_input.fa"
        }
    }
    local {
        params {
            clusters_tsv              = "${projectDir}/../../output/mmseqs/linclust_clusters.tsv"
            checked_clusters_txt      = "${projectDir}/../../output/checked_clusters.txt"
            mgnifams_input_fasta_path = "${projectDir}/../../output/mgnifams_input.fa"
        }
    }
}
