profiles {
    slurm {
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
        process {
            withName: REFINE_FAMILIES { cpu = 8; memory = '900.0 GB'; time = '24h' }
        }
        params {
            minimum_members = 50
        }
    }
    lsf {
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
        process {
            withName: REFINE_FAMILIES { cpus = 8; memory = '900.0 GB'; }
        }
        params {
            minimum_members = 50
        }
    }
    local {
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/home/vangelis/miniconda3/envs"
        }
        params {
            minimum_members = 2
        }
    }
}
