profiles {
    slurm {
        process {
            withName: CREATE_CLUSTERS_PKL { cpus = 8; memory = '500.0 GB'; time = '24h' }
            withName: CREATE_FASTA_PKL    { cpus = 8; memory = '900.0 GB'; time = '24h' }
            withName: REFINE_FAMILIES     { cpus = 8; memory = '1200.0 GB'; time = '24h' }
        }
        params {
            minimum_members = 50
        }
    }
    lsf {
        process {
            withName: CREATE_CLUSTERS_PKL { cpus = 8; memory = '500.0 GB'; }
            withName: CREATE_FASTA_PKL    { cpus = 8; memory = '900.0 GB'; }
            withName: REFINE_FAMILIES     { cpus = 8; memory = '1200.0 GB'; }
        }
        params {
            minimum_members = 50
        }
    }
    local {
        params {
            minimum_members = 2
        }
    }
}
