profiles {
    slurm {
        process {
            // withName: POOL_AND_RENAME  { cpus = 8; memory = '180.0 GB'; time = '2h'   }
            // withName: CREATE_HH_DB     { cpus = 8; memory = '350.0 GB'; time = '168h' }
            // withName: REMOVE_REDUNDANT { cpus = 8; memory = '350.0 GB'; time = '168h' }
        }
    }
}
