profiles {
    slurm {
        process {
            withName: HHSUITE_REFORMAT {
                memory = '1.0 GB'; time = '4h'
                ext.args = '-n 1'
            }
            withName: HHSUITE_BUILDHHDB { cpus = 8; memory = '6.0 GB'; time = '2h' }
            withName: HHSUITE_HHBLITS { 
                cpus = 8; memory = '5.0 GB'; time = '48h'
                ext.args = '-z 1000' // 50 top results instead of only 10
            }
            withName: COMBINE_HH_RESULTS                   { memory = '100.0 MB'; time = '1h' }
            withName: MAP_FIRST_A3M_SEQUENCES_TO_FAMILY_ID { memory = '200.0 MB'; time = '1h' }
            withName: POOL_FAM_PROTEINS                    { memory = '20.0 MB'; time = '10m' }
            withName: REMOVE_REDUNDANT_AND_TM              { memory = '200.0 MB'; time = '1h' }
            withName: POOL_FAMILY_RESULTS                  { memory = '200.0 MB'; time = '2h' }
        }
    }
    local {
        process {
            withName: HHSUITE_REFORMAT  { ext.args = '-n 1' }
            withName: HHSUITE_BUILDHHDB { cpus = 8 }
            withName: HHSUITE_HHBLITS   { cpus = 4; ext.args = '-z 1000' }
        }
    }
}
