profiles {
    slurm {
        process {
            withName: CHUNK_CLUSTERS           { memory = '100.0 GB'; time = '1h' } // ~32.0MB * num_cluster_chunks
            withName: REFINE_FAMILIES_PARALLEL { cpus = 4; memory = '350.0 GB'; time = '72h' }
        }
        params {
            minimum_members    = 50
            num_cluster_chunks = 600 // num_jobs = ceil(18242 / 100), 18242 initial clusters with at least 50 members each
        }
    }
    local {
        process {
            withName: REFINE_FAMILIES_PARALLEL { cpus = 1 }
        }
        params {
            minimum_members    = 5
            num_cluster_chunks = 4
        }
    }
}
