profiles {
    slurm {
        process {
            withName: CHUNK_CLUSTERS           { memory = '60.0 GB'; time = '1h' }
            withName: REFINE_FAMILIES_PARALLEL { cpus = 8; memory = '320.0 GB'; time = '144h' } // 6 days
        }
        params {
            minimum_members    = 50
            num_cluster_chunks = 915 // TODO 183, num_jobs = ceil(18242 / 100), 18242 initial clusters with at least 50 members each
        }
    }
    local {
        process {
            withName: REFINE_FAMILIES_PARALLEL { cpus = 1 }
        }
        params {
            minimum_members    = 5
            num_cluster_chunks = 4
        }
    }
}
