profiles {
    slurm {
        process {
            withName: CHUNK_CLUSTERS           { memory = '4.0 GB'; time = '1h' }
            withName: REFINE_FAMILIES_PARALLEL { cpus = 8; memory = '350.0 GB'; time = '168h' }
        }
        params {
            minimum_members    = 50
            num_cluster_chunks = 20
        }
    }
    local {
        params {
            minimum_members    = 5
            num_cluster_chunks = 4
        }
    }
}
