includeConfig "${launchDir}/subworkflows/predict_structures/nextflow.config"
includeConfig "${launchDir}/subworkflows/annotate_structures/nextflow.config"

profiles {
    slurm {
        params {
            wp1_unannotated_ids_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/hh/unannotated.txt"
            msa_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/msa_sto"
        }
    }
    lsf {
        params {
            wp1_unannotated_ids_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/hh/unannotated.txt"
            msa_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/msa_sto"
        }
    }
    local {
        params {
            wp1_unannotated_ids_path = "${launchDir}/data/output/hh/unannotated.txt"
            msa_path = "${launchDir}/data/output/families/msa_sto"
        }
    }
}
