includeConfig "${projectDir}/../../subworkflows/predict_structures/nextflow.config"
includeConfig "${projectDir}/../../subworkflows/annotate_structures/nextflow.config"

profiles {
    slurm {
        params {
            msa_sto_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/msa_sto"
        }
    }
    local {
        params {
            msa_sto_path = "${projectDir}/../../output/families/msa_sto"
        }
    }
}
