profiles {
    slurm {
        process {
            withName: HHSUITE_REFORMAT {
                memory = '1.0 GB'; time = '1h'
                ext.args = '-n 1'
            }
            withName: TRANSLATE_MSA_MGYPS {
                memory = '1.0 GB'; time = '1h'
                publishDir = [
                    path: { "${params.outDir}/families_pooled" },
                    mode: "copy",
                ]
            }
        }
    }
    local {
        process {
            withName: TRANSLATE_MSA_MGYPS {
                publishDir = [
                    path: { "${params.outDir}/families_pooled" },
                    mode: "copy",
                ]   
            }
        }
    }
}
