profiles {
    slurm {
        process {
            withName: HHSUITE_REFORMAT {
                memory = '1.0 GB'; time = '1h';
                ext.args = '-n 1'
                publishDir = [
                    path: { "${params.outdir}/families" },
                    mode: "copy",
                ]
            }
        }
    }
    local {
        process {
            withName: HHSUITE_REFORMAT {
                publishDir = [
                    path: { "${params.outdir}/families" },
                    mode: "copy",
                ]   
            }
        }
    }
}
