profiles {
    slurm {
        process {
            withName: KEEP_FAMILIES  { memory = '70.0 MB'; time = '10m' }
            withName: PARSE_FAMILIES { memory = '130.0 GB'; time = '80m' }
        }
        params {
            family_member_threshold = 100
        }
    }
    local {
        params {
            family_member_threshold = 2
        }
    }
}
