process {
    withName: BLAST_MAKEBLASTDB {
        ext.args = '-dbtype prot'
    }
}
profiles {
    slurm {
        process {
            withName: BLAST_MAKEBLASTDB { memory = '1.3 GB'; time = '10m' }
            withName: BLAST_BLASTP      { memory = '50.0 GB'; time = '20h' }
            withName: DIAMOND_MAKEDB    { memory = '750.0 MB'; time = '5m' }
            withName: DIAMOND_BLASTP    { memory = '3.0 GB'; time = '5m' }
            withName: INTERPROSCAN      { cpus = 16; memory = '40.0 GB'; time = '5h' }
        }
        params {
            interproscan_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/ips/5.62-94.0/"
            interproscan_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/ips/5.62-94.0/data" 
            eggnong_data_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/"
            eggnog_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog.db"
            eggnong_diamond_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog_proteins.dmnd"
            uniprot_sprot_fasta_name = "uniprot_sprot.fasta"
            chunk_size = 50000
        }
    }
    local {
        process {
            withName: INTERPROSCAN { cpus = 8; memory = '12.0 GB' }
        }
        params {
            interproscan_dir = "/home/vangelis/Desktop/Tools/my_interproscan/interproscan-5.62-94.0/"
            interproscan_db = "/home/vangelis/Desktop/Tools/my_interproscan/interproscan-5.62-94.0/data" 
            eggnong_data_dir = "/home/vangelis/Desktop/Tools/eggnog-mapper/tests/fixtures"
            eggnog_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/tests/fixtures/eggnog.db"
            eggnong_diamond_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/tests/fixtures/eggnog_proteins.dmnd"
            uniprot_sprot_fasta_name = "uniprot_sprot.fasta"
            chunk_size = 5
        }
    }
}