process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BLAST_MAKEBLASTDB {
        ext.args = '-dbtype prot'
    }

}

profiles {

    slurm {
        params {
            interproscan_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/ips/5.57-90.0/"
            eggnong_data_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/"
            eggnog_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog.db"
            eggnong_diamond_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog_proteins.dmnd"
            uniprot_sprot_fasta_name = "uniprot_sprot.fasta"
            chunk_size = 50000
        }
    }

    lsf {
        params {
            interproscan_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/ips/5.57-90.0/"
            eggnong_data_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/"
            eggnog_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog.db"
            eggnong_diamond_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog_proteins.dmnd"
            uniprot_sprot_fasta_name = "uniprot_sprot.fasta"
            chunk_size = 50000
        }
    }

    local {
        params {
            interproscan_dir = "/home/vangelis/Desktop/Tools/my_interproscan/interproscan-5.63-95.0/"
            eggnong_data_dir = "/home/vangelis/Desktop/Tools/eggnog-mapper/tests/fixtures"
            eggnog_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/tests/fixtures/eggnog.db"
            eggnong_diamond_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/tests/fixtures/eggnog_proteins.dmnd"
            // eggnong_data_dir = "/home/vangelis/Desktop/Tools/eggnog-mapper/data/"
            // eggnog_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/data/eggnog.db"
            // eggnong_diamond_db = "/home/vangelis/Desktop/Tools/eggnog-mapper/data/eggnog_proteins.dmnd"
            uniprot_sprot_fasta_name = "uniprot_sprot.fasta"
            chunk_size = 2
        }
    }
}