profiles {
    slurm {
        process {
            withName: HHSUITE_REFORMAT {
                memory = '4.0 GB'; time = '4h'
                ext.args = '-n 1'
            }
            withName: HHSUITE_HHBLITS { 
                cpus = 8; memory = '5.0 GB'; time = '48h'
                ext.args = '-z 1000' // 50 top results instead of only 10
            }
            withName: HHSUITE_HHSEARCH { cpus = 8; memory = '50.0 MB'; time = '1h' }
        }
        params {
            hh_mode          = "hhblits"
            hhdb_folder_path = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/hh/pfamA_35.0"
            db_name          = "pfam"
        }
    }
    local {
        process {
            withName: HHSUITE_REFORMAT { ext.args = '-n 1' }
            withName: HHSUITE_HHBLITS  { cpus = 4; ext.args = '-z 1000'; }
            withName: HHSUITE_HHSEARCH { cpus = 4 }
        }
        params {
            hh_mode          = "hhblits"
            hhdb_folder_path = "/home/vangelis/Desktop/Tools/hh/databases/pfamA_35.0"
            db_name          = "pfam"
        }
    }
}
