profiles {
    slurm {
        process {
            withName: HHSUITE_REFORMAT { cpus = 8; memory = '10.0 GB'; time = '2h'; ext.args = '-n 1' }
            withName: HHSUITE_HHBLITS  { cpus = 8; memory = '10.0 GB'; time = '2h' }
            withName: HHSUITE_HHSEARCH { cpus = 8; memory = '10.0 GB'; time = '8h' }
        }
    }
    lsf {
        process {
            withName: HHSUITE_REFORMAT { cpus = 8; memory = '10.0 GB'; }
            withName: HHSUITE_HHBLITS  { cpus = 8; memory = '10.0 GB'; }
            withName: HHSUITE_HHSEARCH { cpus = 8; memory = '10.0 GB'; }
        }
    }
    local {
        process {
            withName: HHSUITE_HHBLITS  { ext.args = '-n 1'; cpus = 4 }
            withName: HHSUITE_HHSEARCH { cpus = 4 }
        }
    }
}
