includeConfig "${launchDir}/subworkflows/reformat_msa/nextflow.config"

profiles {
    slurm {
        params {
            seed_msa_folder_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/seed_msa_sto"
            msa_folder_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/msa_sto"
        }
    }
    local {
        params {
            seed_msa_folder_path = "${launchDir}/data/output/families/seed_msa_sto"
            msa_folder_path = "${launchDir}/data/output/families/msa_sto"
        }
    }
}
