includeConfig "${launchDir}/subworkflows/reformat_msa/nextflow.config"

profiles {
    slurm {
        params {
            msa_folder_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/msa"
        }
    }
    lsf {
        params {
            msa_folder_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/families/msa"
        }
    }
    local {
        params {
            msa_folder_path = "${launchDir}/data/output/families/msa"
        }
    }
}
