includeConfig "${launchDir}/subworkflows/blastp_mgnify/nextflow.config"

profiles {
    slurm {
        params {
            mgnifams_input_path        = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_input.fa"
            anti_defence_proteins_path = "/nfs/research/rdf/kam/projects/ADP_families-2024-03-04/data/2_Anti_defence_proteins_04-03-2024_no_Pfam_Vangelis.faa"
            clusters_tsv               = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
        }
    }
    lsf {
        params {
            mgnifams_input_path        = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_input.fa"
            anti_defence_proteins_path = "/nfs/research/rdf/kam/projects/ADP_families-2024-03-04/data/2_Anti_defence_proteins_04-03-2024_no_Pfam_Vangelis.faa"
            clusters_tsv               = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
        }
    }
    local {
        params {
            mgnifams_input_path        = "${launchDir}/data/output/input/mgnifams_input.fa"
            anti_defence_proteins_path = "${launchDir}/data/input/2_Anti_defence_proteins_04-03-2024_no_Pfam_Vangelis.faa"
            clusters_tsv               = "${launchDir}/data/output/mmseqs/mmseqs_families.tsv"
        }
    }
}
