params {
    min_slice_length = 50
}

profiles {
    slurm {
        process {
            withName: FILTER_UNANNOTATED    { memory = '40.0 MB'; time = '5h' }
            // TODO FILTER_UNANNOTATED_SLICES { memory = '40.0 MB'; time = '5h' }
            withName: EXPORT_PROTEINS_CSV { memory = '110.0 MB'; time = '70m' }
        }
        params {
            mgy90_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_2/sequence_explorer_protein.csv.bz2"
        }
    }
    local {
        params {
            mgy90_path = "${baseDir}/test-data/sequence_explorer_protein_test_large.csv.bz2"
        }
    }
}
