cleanup = true // TODO decide if using this to remove intermediate large input files after successful pipeline completion

params {
    min_slice_length = 50
}
profiles {
    slurm {
        process {
            withName: UNZIPBZ2                  { cpus = 2; memory = '10.0 GB'; time = '5h' }
            withName: REMOVEHEADER              { cpus = 2; memory = '10.0 GB'; time = '5h' }
            withName: FILTER_UNANNOTATED_SLICES { cpus = 2; memory = '10.0 GB'; time = '5h' }
            withName: PUBLISH_INPUT_FASTA       { cpus = 2; memory = '10.0 GB'; time = '5h' }
            withName: EXPORT_PROTEINS_CSV       { cpus = 2; memory = '10.0 GB'; time = '5h' }
        }
        params {
            input_csv_chunk_size = 500000
            mgy90_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_2/sequence_explorer_protein.csv.bz2"
        }
    }
    local {
        params {
            input_csv_chunk_size = 2
            mgy90_path = "${launchDir}/test-data/sequence_explorer_protein_test.csv.bz2"
        }
    }
}
