params {
    min_slice_length = 50
}
profiles {
    slurm {
        process {
            withName: FILTER_UNANNOTATED_SLICES { memory = '50.0 MB'; time = '15m' }
            withName: PUBLISH_INPUT_FASTA       { cpus = 2; memory = '10.0 GB'; time = '5h' }
            withName: EXPORT_PROTEINS_CSV       { cpus = 2; memory = '10.0 GB'; time = '5h' }
        }
        params {
            input_csv_chunk_size = 500000
            preprocessed_mgy90_path = "/nfs/production/rdf/metagenomics/users/vangelis/plp_flatfiles_pgsql_2/sequence_explorer_protein_test_no_header.csv"
        }
    }
    local {
        params {
            input_csv_chunk_size = 2
            preprocessed_mgy90_path = "${launchDir}/data/output/input/sequence_explorer_protein_test_no_header.csv"
        }
    }
}
