profiles {
    slurm {
        process {
            withName: APPEND_BLOBS_PARALLEL { cpus = 32; memory = '300.0 GB'; time = '120h' }
        }
        params {
            db_config_file = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/mgnifams/assets/db_config.ini"
            db_schema_file = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/mgnifams/assets/db_schema.sqlite"
        }
    }
    local {
        process {
            withName: APPEND_BLOBS_PARALLEL { cpus = 11; }
        }
        params {
            db_config_file = "/home/vangelis/Desktop/Projects/mgnifams/assets/db_config.ini"
            db_schema_file = "/home/vangelis/Desktop/Projects/mgnifams/assets/db_schema.sqlite"
        }
    }
}
