profiles {
    slurm {
        process {
            withName: EXPORT_MGNIFAMS_CSV   { memory = '200.0 GB'; time = '100h' }
            withName: QUERY_MGNPROTEIN_DB   { memory = '10.0 GB'; time = '72h' }
            withName: PARSE_BIOMES          { memory = '1.0 GB'; time = '6h' }
            withName: PARSE_DOMAINS         { cpus = 8; memory = '300.0 GB'; time = '72h' }
            withName: APPEND_BLOBS_PARALLEL { cpus = 32; memory = '300.0 GB'; time = '120h' }
        }
        params {
            db_config_file = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/mgnifams/bin/db_config.ini"
            db_schema_file = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/mgnifams/DB/schema.sqlite"
        }
    }
    local {
        process {
            withName: PARSE_DOMAINS         { cpus = 6 }
            withName: APPEND_BLOBS_PARALLEL { cpus = 11 }
        }
        params {
            db_config_file = "/home/vangelis/Desktop/Projects/mgnifams/bin/db_config.ini"
            db_schema_file = "/home/vangelis/Desktop/Projects/mgnifams/DB/schema.sqlite"
        }
    }
}
