includeConfig "${projectDir}/../../subworkflows/initiate_proteins/nextflow.config"

profiles {
    slurm {
        params {
            sequence_explorer_protein_no_header_path = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/work_mgnifams/7c/a25c89b1269d58b2cdfbab35cd58dc/sequence_explorer_protein_no_header.csv"
        }
    }
    local {
        params {
            sequence_explorer_protein_no_header_path = "/home/vangelis/Desktop/Projects/mgnifams/work/8d/568b830dd896a1c23a63d50090d6f7/sequence_explorer_protein_test_100001_no_header.csv"
        }
    }
}
