profiles {
    slurm {
        params {
            db_config_file = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/mgnifams/bin/db_config.ini"
        }
    }
    local {
        params {
            db_config_file = "/home/vangelis/Desktop/Projects/mgnifams/bin/db_config.ini"
        }
    }
}
