includeConfig "${launchDir}/subworkflows/generate_families/nextflow.config"

profiles {
    slurm {
        params {
            families_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
            mgnifams_input_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_input.fa"
            // families_pkl = // TODO
            // mgnifams_input_pkl = // TODO
        }
    }
    lsf {
        params {
            families_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
            mgnifams_input_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_input.fa"
            // families_pkl = // TODO
            // mgnifams_input_pkl = // TODO
        }
    }
    local {
        params {
            families_tsv = "${launchDir}/data/output/mmseqs/mmseqs_families.tsv"
            mgnifams_input_path = "${launchDir}/data/output/input/mgnifams_input.fa"
            families_pkl = "/home/vangelis/Desktop/Projects/mgnifams/work/13/a3a682eb227163c1ed35a23d56207e/clusters_bookkeeping_df.pkl"
            mgnifams_input_pkl = "/home/vangelis/Desktop/Projects/mgnifams/work/13/a3a682eb227163c1ed35a23d56207e/updated_mgnifams_input.pkl"
        }
    }
}
