includeConfig "${projectDir}/../../subworkflows/generate_families/nextflow.config"

profiles {
    slurm {
        params {
            starting_num_sequences = 469788450
            iteration = 0
            clusters_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/mmseqs/linclust_clusters.tsv"
            // manually update from previous run output or for fresh start:
            refined_families_tsv      = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/refined_families.tsv"
            mgnifams_input_fasta_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/mgnifams_input.fa"
            discarded_clusters_txt    = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/discarded_clusters.txt"
            converged_families_txt    = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/converged_families.txt"
            family_metadata_csv       = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/family_metadata.csv"
        }
    }
    local {
        params {
            starting_num_sequences = 26949
            iteration = 0
            clusters_tsv = "${projectDir}/../../output/mmseqs/linclust_clusters.tsv"
            // manually update from previous run output or for fresh start:
            refined_families_tsv      = "${projectDir}/../../output/families/refined_families.tsv"
            mgnifams_input_fasta_path = "${projectDir}/../../output/families/mgnifams_input.fa"
            discarded_clusters_txt    = "${projectDir}/../../output/families/discarded_clusters.txt"
            converged_families_txt    = "${projectDir}/../../output/families/converged_families.txt"
            family_metadata_csv       = "${projectDir}/../../output/families/family_metadata.csv"
        }
    }
}
