includeConfig "${launchDir}/subworkflows/generate_families/nextflow.config"

profiles {
    slurm {
        params {
            clusters_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
            // manually update from previous run output:
            refined_families_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/families/refined_families.tsv"
            mgnifams_dict_fasta_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_dict.fa"
        }
    }
    lsf {
        params {
            clusters_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/mmseqs/mmseqs_families.tsv"
            // manually update from previous run output:
            refined_families_tsv = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/families/refined_families.tsv"
            mgnifams_dict_fasta_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/data/output/input/mgnifams_dict.fa"
        }
    }
    local {
        params {
            clusters_tsv = "${launchDir}/data/output/mmseqs/mmseqs_families.tsv"
            // manually update from previous run output:
            refined_families_tsv = "${launchDir}/data/output/input/families/refined_families.tsv"
            mgnifams_dict_fasta_path = "/home/vangelis/Desktop/Projects/mgnifams/data/output/input/mgnifams_dict.fa"
        }
    }
}
