params {
    seq_identity = 0.3
    coverage = 0.8
}
process {
    withLabel: mmseqs {
        container = "quay.io/microbiome-informatics/mmseqs:2.13"
    }
}
profiles {
    slurm {
        process {
            withName: CREATEDB              { memory = '30.0 GB'; time = '30m' }
            withName: LINCLUST              { cpus = 16; memory = '190.0 GB'; time = '2h' }
            withName: CREATETSV             { cpus = 4; memory = '40.0 GB'; time = '10m' }
            withName: EXPORT_CLUSTERING_CSV { memory = '50.0 MB'; time = '5m' }
        }
    }
    local {
        process {
            withName: LINCLUST  { cpus = 8; memory = '10.0 GB' }
            withName: CREATETSV { cpus = 8; memory = '2.0 GB' }
        }
    }
}
