profiles {
    slurm {
        process {
            withName: MMSEQS_CREATEDB { memory = '100.0 GB'; time = '3h' }
            withName: MMSEQS_LINCLUST { cpus = 16; memory = '300.0 GB'; time = '6h'
                ext.prefix = "mmseqs_families"
                ext.args   = '--min-seq-id 0.5 -c 0.9 --cov-mode 0 --remove-tmp-files 1 -v 0'
            }
            withName: CREATETSV       { cpus = 4; memory = '100.0 GB'; time = '3h' }
        }
    }
    local {
        process {
            withName: MMSEQS_LINCLUST { cpus = 8; memory = '10.0 GB'
                ext.prefix = "mmseqs_families"
                ext.args   = '--min-seq-id 0.5 -c 0.9 --cov-mode 0 --remove-tmp-files 1 -v 0'
            }
            withName: CREATETSV       { cpus = 8; memory = '2.0 GB' }
        }
    }
}
