profiles {
    slurm {
        process {
            withName: DEEPTMHMM { memory = '100.0 GB'; time = '4h' } // TODO update res
        }
        params {
            tm_fraction_threshold = 0.4
        }
    }
    local {
        process {
            withName: DEEPTMHMM { memory = '12.0 GB'; time = '10m' }
        }
        params {
            tm_fraction_threshold = 0.4
        }
    }
}
