profiles {
    slurm {
        process {
            withName: EXTRACT_FIRST_STOCKHOLM_SEQUENCES { memory = '20.0 GB'; time = '24h' }
            withName: DEEPTMHMM                         { memory = '100.0 MB'; time = '24h' }
            withName: FLAG_TM                           { memory = '40.0 MB'; time = '20m' }
        }
        params {
            deeptmhmm_chunk_size  = 100
            tm_fraction_threshold = 0.4
        }
    }
    local {
        process {
            withName: DEEPTMHMM { memory = '24.0 GB'; time = '1h' }
        }
        params {
            deeptmhmm_chunk_size  = 2
            tm_fraction_threshold = 0.4
        }
    }
}
