profiles {
    slurm {
        process {
            withName: DEEPTMHMM { memory = '300.0 GB'; time = '24h' }
        }
        params {
            tm_fraction_threshold = 0.4
        }
    }
    local {
        process {
            withName: DEEPTMHMM { memory = '24.0 GB'; time = '1h' }
        }
        params {
            tm_fraction_threshold = 0.4
        }
    }
}
