profiles {

    slurm {
        params {
            pdb_chunk_size = 50000
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }

        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
    }

    local {
        params {
            pdb_chunk_size = 10
            esm_conda_path = '/home/vangelis/miniconda3/envs/esmfold_new_test'
        }

        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/home/vangelis/miniconda3/envs"
        }
    }
}
