profiles {
    slurm {
        process {
            withName: FOLDSEEK_EASYSEARCH { cpus = 4; memory = '5.0 GB' }
        }
        params {
            foldseek_db_path = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/foldseek/8-ef4e960'
        }
    }
    lsf {
        process {
            withName: FOLDSEEK_EASYSEARCH           { cpus = 4; memory = '5.0 GB' }
            withName: FOLDSEEK_EASYSEARCH_ALPHAFOLD { cpus = 4; memory = '500.0 GB' } // TODO test
        }
        params {
            foldseek_db_path = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/foldseek/8-ef4e960'
        }
    }
    local {
        process {
            withName: FOLDSEEK_EASYSEARCH { cpus = 4; memory = '5.0 GB' }
        }
        params {
            foldseek_db_path = '/home/vangelis/Desktop/Tools/foldseek'
        }
    }
}
