profiles {
    slurm {
        process {
            withName: FOLDSEEK_EASYSEARCH {
                cpus = 4; memory = '900.0 GB'; time = '4h'
                ext.args = '-e 0.001'
            }
        }
        params {
            foldseek_db_path = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/foldseek/8-ef4e960'
        }
    }
    local {
        process {
            withName: FOLDSEEK_EASYSEARCH {
                cpus = 4; memory = '5.0 GB'
                ext.args = '-e 0.001'
            }
        }
        params {
            foldseek_db_path = '/home/vangelis/Desktop/Tools/foldseek'
        }
    }
}
