includeConfig "${projectDir}/../../conf/workflows.config"
includeConfig "${projectDir}/../../subworkflows/predict_structures/nextflow.config"

profiles {
    slurm {
        params {
            msa_sto_path = "/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/msa_sto"
        }
    }
    local {
        params {
            msa_sto_path = "/home/vangelis/Desktop/Projects/mgnifams/test-data/msa_sto"
        }
    }
}
